body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.register-box{
    width: 360px;
    height: 750px;
    margin: auto;
    background-color: #c0c0c0;
    border-radius: 20px;
}
.login-box{
    width: 360px;
    height: 300px;
    margin: auto;
    background-color: #808080;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid #808080;
    border-radius: 6px;
    outline: none;
}
input[type= "button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: #fff;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: #000;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: #49c1a2;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

.container{
    max-width: 1300px;
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    
}
